# LaTeX build files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.acn
*.bcf
*.glo
*.ist
*.run.xml
*.acr
*.alg
*.bbl-SAVE-ERROR
*.bcf-SAVE-ERROR
*.glg
*.gls

# Vim swap files
*.swp

# OS-specific files
.DS_Store
Thumbs.db

